---
import {Image} from 'astro:assets';
import introVideo from '../assets/webtrailer.mp4';
// import introPoster from '../assets/intro-fb.png';
import overlayText from '../assets/overlay-text.png';
import overlayLogo from '../assets/overlay-logo.png';
---

<!-- <Image src={introPoster} alt="intro" /> --><!-- <div class="relative"> -->
<div class="relative">
  <video class="" autoplay muted>
    <source src={introVideo} type="video/mp4" />
  </video>
  <div
    class="absolute top-1/2 left-1/2 transform text-white -translate-x-1/2 -translate-y-1/2 flex justify-end items-center flex-col"
  >
    <div class="flex flex-col items-center">
      <Image src={overlayLogo} alt="intro" class="h-[200px]" />
      <Image src={overlayText} alt="intro" class="h-[200px]" />
    </div>
    <button class="absolute">Jetzt&nbsp;buchen</button>
  </div>
</div>
