---
import {Image} from 'astro:assets';
import overlayText from '../assets/overlay-text.png';
// import overlayLogo from '../assets/overlay-logo.png';
// import playButton from '../assets/play_button_icon.svg';
---

<script>
  import isMobile from '../libs/is-mobile';
  import introVideo from '../assets/webtrailer.mp4';
  import introPoster from '../assets/start_2min2.png';

  document.addEventListener('DOMContentLoaded', () => {
    const isMobileDevice = isMobile();
    const mediaContainer = document.getElementById('media-container');

    if (!mediaContainer) return;

    if (isMobileDevice) {
      mediaContainer.innerHTML = `<Image src="${introPoster.src}" alt="Three people in discovering the mysterios at an escape game" />`;
    } else {
      mediaContainer.innerHTML = `
        <video autoplay muted loop class="">
          <source src="${introVideo}" type="video/mp4" />
        </video>
      `;
    }
  });
</script>

<div class="relative">
  <div id="media-container"></div>
  <div
    class="absolute top-1/2 left-1/2 transform text-white -translate-x-1/2 -translate-y-1/2 flex justify-end items-center flex-col"
  >
    {
      (
        <div class="flex flex-col items-center">
          {/* <Image
            src={overlayLogo}
            alt="image showing the logo"
            class="h-[72px] object-contain"
          /> */}
          <Image
            src={overlayText}
            alt="intro"
            class="h-[200px] object-contain"
          />
          {/* <Image
            src={playButton}
            alt="play"
            class="h-[72px] object-contain hidden md:block"
          /> */}
        </div>
      )
    }
    <!-- <button class="absolute border border-white px-4 py-2"
      >Jetzt&nbsp;buchen</button
    > -->
  </div>
</div>
