---
import {getLocale} from 'astro-i18n-aut';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import {useTranslations} from '../i18n/i18n';
import {headerData} from '../navigation';
import type {MetaData} from '../types/types';
import {getPermalink} from '../utils/permalinks';
import Layout from './Layout.astro';

export interface Props {
  metadata?: MetaData;
}

const {metadata} = Astro.props;

const locale = getLocale(Astro.url) as 'en' | 'de';
console.log('🚀 ~ locale:', locale);
const t = useTranslations(locale);

// console.log('🚀 ~ metadata:', metadata);

const footerData = {
  links: [
    {
      title: 'Über uns',
      href: getPermalink('/ueber-uns'),
      links: [],
    },
    {
      title: 'AGB',
      href: getPermalink('/agb'),
      links: [],
    },
    {
      title: 'FAQ',
      href: getPermalink('/faq'),
      links: [],
    },
    {
      title: 'Kontakt',
      href: getPermalink('/kontakt'),
      links: [],
    },
  ],
  secondaryLinks: [
    {text: 'Impressum', href: getPermalink('/impressum')},
    {text: 'Datenschutz', href: getPermalink('/datenschutz')},
  ],
  //   socialLinks: [
  //     {ariaLabel: 'Instagram', icon: '', href: '#'},
  //     {ariaLabel: 'Facebook', icon: '', href: '#'},
  //   ],
  footNote: `© ${new Date().getFullYear()} Skurrilum`,
};
---

<Layout
  title="Skurrilum"
  metadata={{
    title: 'string',
  }}
>
  <Header {...headerData(t)} isFixed transition:persist />
  <slot name="video-area" />
  <main class="main-margin">
    <slot name="main" />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
